.menuLateral {
  background: #f0f0f5;
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 81.5px;
  padding-top: 54.5px;
}

.menuLateral div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13.5px;
  width: 108px;
  cursor: pointer;
}

.paginaAtualDiv {
  border-right: 2px solid #da0175;
  padding-left: 2px;
}

.menuLateral p {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 22px;
  color: #343447;
}

.menuLateral .paginaAtualP {
  color: #DA0175;
}