.unicoTabelaCobrancaEstrutura {
   width: 1116px;
   background: #ffffff;
   border-radius: 30px;
   padding: 12px 27px 12px 23px;
   margin-top: 31px;

   display: flex;
   flex-direction: column;
}

.menuTabelaCobranca {
   display: flex;
   justify-content: space-between;
   height: 66px;
   padding-bottom: 12px;
   border-bottom: 1px solid #eff0f6;
}

.menuTabelaCobranca div {
   display: flex;
   align-items: center;
   gap: 14px;
}

.divTabCobrancaTam02,
.divTabCobrancaTam02Dados {
   width: 115px;
}

.divTabCobrancaTam03,
.divTabCobrancaTam03Menu {
   width: 158px;
}

.divTabCobrancaTam03Menu {
   cursor: pointer;
}

.divTabCobrancaTam04 {
   width: 141px;
}

.divTabCobrancaTam05 {
   width: 247px;
}

.divTabCobrancaTam05Mod {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.divTabCobrancaTam06Menu {
   width: 130px;
   cursor: pointer;
}

.menuTabelaCobranca p {
   font-family: "Nunito";
   font-size: 16px;
   line-height: 50px;
   letter-spacing: 0.005em;
   color: #3f3f55;
}

.menuTabelaCobranca img {
   height: 20px;
}
