.rotulo-tabela-card-clientesDados {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border-bottom: 1px solid #eff0f7;
}

.rotulo-tabela-card-clientesDados h1 {
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.005em;
    color: #6E6E85;
}